<div class="home-container">
  <div class="home-header">
    <div class="logo-box">
      <img
        class="logo"
        src="../../../assets/favicon.ico"
        alt="Ciudad de buenos aires"
      />
    </div>
    <div class="content-box">
      <h1>Ngx-Obelisco-v17</h1>
      <h2 class="text-xl text-body-secondary mb-2">
        La librería de componentes de Obelisco para Angular
      </h2>
      <p class="text-lg">
        Ngx-Obelisco es una librería de componentes UI para Angular destinado a
        facilitar el trabajo de desarrolladores en proyectos y activos digitales
        de la Ciudad de Buenos Aires.
      </p>
      <p class="text-lg">
        Sus componentes, basados en el sistema de diseño Obelisco, son
        eficientes, responsivos y fáciles de usar.<br />
        Conocé la librería, descargala y comenzá a usarla.
      </p>
      <code highlight-js [lang]="'bash'">{{ exampleComment }}</code>
      <div class="home-buttons">
        <a class="btn btn-outline-primary btn-lg" routerLink="/get-started">Introducción</a>
        <a class="btn btn-outline-primary btn-lg" routerLink="/components">Componentes</a>
      </div>
      <p class="home-version">Actualmente en v1.0.0</p>
    </div>
  </div>
  <div class="home-description">
    <h2 class="h4 mb-4">Sistema de diseño Obelisco v.2</h2>
    <div class="card-items-3">
      <div class="col">
        <div class="card">
          <i class="bx bxs-component card-icon"></i>
          <div class="card-body">
            <h3 class="card-title">
              <a routerLink="https://gcba.github.io/Obelisco-V2/components" class="card-title-link" target="_blank" rel="noopener noreferrer">Componentes</a>
            </h3>
            <p class="card-text">El sistema de diseño proporciona componentes accesibles para la
              ideación y desarrollo de productos digitales.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <i class="bx bxs-palette card-icon"></i>
          <div class="card-body">
            <h3 class="card-title">
              <a routerLink="https://gcba.github.io/Obelisco-V2/components/colors" class="card-title-link" target="_blank" rel="noopener noreferrer">Guía de estilos</a>
            </h3>
            <p class="card-text">Los estilos reflejan el lenguaje visual de los y detallan las
              características que le dan la personalidad al sistema
              de diseño.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <i class="bx bxs-book-open card-icon"></i>
          <div class="card-body">
            <h3 class="card-title">
              <a routerLink="https://gcba.github.io/estandares/contenido/comunicar-con-claridad/" class="card-title-link" target="_blank" rel="noopener noreferrer">Contenidos</a>
            </h3>
            <p class="card-text">Son los lineamientos a tener en cuenta a la hora de redactar
              contenidos en los productos digitales del Gobierno de la Ciudad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
